.gradle
.idea/
gradle/
*.gradle
FirstAndroidAppClient2.iml
*.properties
gradlew.bat
gradlew

app/app.iml
app/build/
app/sampledata/
app/build.gradle
app/proguards-rules.pro

app/src/androidTest/
app/src/test/
NotesClient.iml
*.properties
